.header{
    background-color: rgb(157, 162, 162);
    text-align: center;
}

.h2{
    background-color: rgb(228, 228, 228);
    color: black;
    text-align: center;
}

.h3{
    background-color:rgb(149, 147, 147); ;
    color: white;
    text-align: center;
}

.image{
    margin-left: 450px;
}